<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/AmadeuseTest.php</exclude>
            <exclude>./tests/FlightOfferTest.php</exclude>
            <exclude>./tests/FlightBags.php</exclude>
            <exclude>./tests/FlightOrder.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>